{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create New Listing</h2>

    {% if message %}
        <div class="{{ alert }}" role="alert">{{ message }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="container border my-5 p-3">
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Save Listing">
        </div>  
    </form>
{% endblock %}
